
AndrosovEvgeni/ThumbnailPictureCreator/Thumbnail/bin/Debug/netcoreapp3.0/Microsoft.Win32.SystemEvents.dll
AndrosovEvgeni/ThumbnailPictureCreator/Thumbnail/bin/Debug/netcoreapp3.0/runtimes/unix/lib/netcoreapp2.1/System.Security.Principal.Windows.dll
AndrosovEvgeni/ThumbnailPictureCreator/Thumbnail/bin/Debug/netcoreapp3.0/runtimes/unix/lib/netcoreapp3.0/System.Drawing.Common.dll
AndrosovEvgeni/ThumbnailPictureCreator/Thumbnail/bin/Debug/netcoreapp3.0/runtimes/win/lib/netcoreapp2.0/System.Security.AccessControl.dll
AndrosovEvgeni/ThumbnailPictureCreator/Thumbnail/bin/Debug/netcoreapp3.0/runtimes/win/lib/netcoreapp2.1/System.Security.Principal.Windows.dll
AndrosovEvgeni/ThumbnailPictureCreator/Thumbnail/bin/Debug/netcoreapp3.0/runtimes/win/lib/netcoreapp3.0/Microsoft.Win32.SystemEvents.dll
AndrosovEvgeni/ThumbnailPictureCreator/Thumbnail/bin/Debug/netcoreapp3.0/runtimes/win/lib/netcoreapp3.0/System.Drawing.Common.dll
AndrosovEvgeni/ThumbnailPictureCreator/Thumbnail/bin/Debug/netcoreapp3.0/runtimes/win/lib/netcoreapp3.0/System.Windows.Extensions.dll
AndrosovEvgeni/ThumbnailPictureCreator/Thumbnail/bin/Debug/netcoreapp3.0/runtimes/win/lib/netstandard2.0/System.Security.Cryptography.ProtectedData.dll
AndrosovEvgeni/ThumbnailPictureCreator/Thumbnail/bin/Debug/netcoreapp3.0/System.Configuration.ConfigurationManager.dll
AndrosovEvgeni/ThumbnailPictureCreator/Thumbnail/bin/Debug/netcoreapp3.0/System.Drawing.Common.dll
AndrosovEvgeni/ThumbnailPictureCreator/Thumbnail/bin/Debug/netcoreapp3.0/System.Security.AccessControl.dll
AndrosovEvgeni/ThumbnailPictureCreator/Thumbnail/bin/Debug/netcoreapp3.0/System.Security.Cryptography.ProtectedData.dll
AndrosovEvgeni/ThumbnailPictureCreator/Thumbnail/bin/Debug/netcoreapp3.0/System.Security.Permissions.dll
AndrosovEvgeni/ThumbnailPictureCreator/Thumbnail/bin/Debug/netcoreapp3.0/System.Security.Principal.Windows.dll
AndrosovEvgeni/ThumbnailPictureCreator/Thumbnail/bin/Debug/netcoreapp3.0/System.Windows.Extensions.dll
AndrosovEvgeni/ThumbnailPictureCreator/Thumbnail/bin/Debug/netcoreapp3.0/Thumbnail.deps.json
AndrosovEvgeni/ThumbnailPictureCreator/Thumbnail/bin/Debug/netcoreapp3.0/Thumbnail.dll
AndrosovEvgeni/ThumbnailPictureCreator/Thumbnail/bin/Debug/netcoreapp3.0/Thumbnail.dll.config
AndrosovEvgeni/ThumbnailPictureCreator/Thumbnail/bin/Debug/netcoreapp3.0/Thumbnail.exe
AndrosovEvgeni/ThumbnailPictureCreator/Thumbnail/bin/Debug/netcoreapp3.0/Thumbnail.pdb
AndrosovEvgeni/ThumbnailPictureCreator/Thumbnail/bin/Debug/netcoreapp3.0/Thumbnail.runtimeconfig.dev.json
AndrosovEvgeni/ThumbnailPictureCreator/Thumbnail/bin/Debug/netcoreapp3.0/Thumbnail.runtimeconfig.json
AndrosovEvgeni/ThumbnailPictureCreator/Thumbnail/obj/Debug/netcoreapp3.0/Thumbnail.AssemblyInfo.cs
AndrosovEvgeni/ThumbnailPictureCreator/Thumbnail/obj/Debug/netcoreapp3.0/Thumbnail.AssemblyInfoInputs.cache
AndrosovEvgeni/ThumbnailPictureCreator/Thumbnail/obj/Debug/netcoreapp3.0/Thumbnail.assets.cache
AndrosovEvgeni/ThumbnailPictureCreator/Thumbnail/obj/Debug/netcoreapp3.0/Thumbnail.csproj.CopyComplete
AndrosovEvgeni/ThumbnailPictureCreator/Thumbnail/obj/Debug/netcoreapp3.0/Thumbnail.csproj.FileListAbsolute.txt
AndrosovEvgeni/ThumbnailPictureCreator/Thumbnail/obj/Debug/netcoreapp3.0/Thumbnail.csprojAssemblyReference.cache
AndrosovEvgeni/ThumbnailPictureCreator/Thumbnail/obj/Debug/netcoreapp3.0/Thumbnail.dll
AndrosovEvgeni/ThumbnailPictureCreator/Thumbnail/obj/Debug/netcoreapp3.0/Thumbnail.exe
AndrosovEvgeni/ThumbnailPictureCreator/Thumbnail/obj/Debug/netcoreapp3.0/Thumbnail.pdb
AndrosovEvgeni/ThumbnailPictureCreator/Thumbnail/obj/project.assets.json
AndrosovEvgeni/ThumbnailPictureCreator/Thumbnail/obj/Thumbnail.csproj.nuget.cache
AndrosovEvgeni/ThumbnailPictureCreator/Thumbnail/obj/Thumbnail.csproj.nuget.dgspec.json
AndrosovEvgeni/ThumbnailPictureCreator/Thumbnail/obj/Thumbnail.csproj.nuget.g.props
AndrosovEvgeni/ThumbnailPictureCreator/Thumbnail/obj/Thumbnail.csproj.nuget.g.targets
DemidovichNikolay/MultithreadingResizeJPG/bin/Debug/LibraryMultithreading.dll
DemidovichNikolay/MultithreadingResizeJPG/bin/Debug/LibraryMultithreading.pdb
DemidovichNikolay/MultithreadingResizeJPG/bin/Debug/MultithreadingResizeJPG.exe
DemidovichNikolay/MultithreadingResizeJPG/bin/Debug/MultithreadingResizeJPG.exe.config
DemidovichNikolay/MultithreadingResizeJPG/bin/Debug/MultithreadingResizeJPG.pdb
DemidovichNikolay/MultithreadingResizeJPG/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
DemidovichNikolay/MultithreadingResizeJPG/obj/Debug/MultithreadingResizeJPG.csproj.CopyComplete
DemidovichNikolay/MultithreadingResizeJPG/obj/Debug/MultithreadingResizeJPG.csproj.CoreCompileInputs.cache
DemidovichNikolay/MultithreadingResizeJPG/obj/Debug/MultithreadingResizeJPG.csproj.FileListAbsolute.txt
DemidovichNikolay/MultithreadingResizeJPG/obj/Debug/MultithreadingResizeJPG.csprojAssemblyReference.cache
DemidovichNikolay/MultithreadingResizeJPG/obj/Debug/MultithreadingResizeJPG.exe
DemidovichNikolay/MultithreadingResizeJPG/obj/Debug/MultithreadingResizeJPG.pdb
