body {
background-color: black;
}
p{
  color: white;
}
.section_left {
float: left;
width: 15%;
padding-right: 40px;
font-size: 14px;
color: green;
font-weight: normal;
box-sizing: content-box;
}
.comment_avatar img{
width: 100%;
}
.friend_avatar img{
  width: 25%;
  border: 1px solid;
  border-radius: 100%;
}
.section_options {
color: white;
 text-align: center;
opacity:0;
animation: show 2s 1;
animation-fill-mode: forwards;
animation-delay: 1s;
}
@keyframes show{
0%{
opacity:0;
}
100% {
opacity:1;
}
}
.section_avatar {
float: left;
width: 15%;
padding-right: 40px;
font-size: 14px;
color: green;
font-weight: normal;
box-sizing: content-box;
  transition-duration: 1s;
  transition-timing-function: linear;
transition-property: width;
}
.section_avatar:hover {
  width : 40%
}
.section_right {
float: left;
width: 30%;
font-size: 14px;
color: #000000;
font-weight: normal;
}
.friend_list {
    font-size: 30px;
    text-align: center;
}
.friendLink_collor {
color: lightslategray;
}
.link_disable {
    pointer-events: none;
    color: gray;
}
.section_comment {
float: left;
width: 60%;
height: 150px;
font-size: 14px;
color: white;
font-weight: normal;
border: 1px solid white;
border-radius: 7px;
}
.section_menu {
float: left;
font-size: 19px;
margin-left: 10%;
color: #000000;
font-weight: normal;
text-align: right;
}
.avatar_image img {
width: 100%;
border-radius: 100%;
}
.section_divider {
border-top: 1px solid #ebebeb;
margin: 20px 0;
}
.section_inner {
padding: 0 0 0 15px;
}
.section_profile_head {
padding: 0 0 0 15px;
opacity: 0;
animation: show 2s 1;
animation-fill-mode: forwards;
animation-delay: 1s;
}
.section_options_inner {
padding: 0 0 0 15px;
opacity: 0;
animation: show 2s 1;
animation-fill-mode: forwards;
animation-delay: 2s;
}
.section_row {
margin-bottom: 10px;
}
.link_collor {
color: white;
}
.section_message {
float: left;
width: 70%;
height: 90px;
font-size: 14px;
color: #000000;
font-weight: normal;
border: 1px solid white;
border-radius: 7px;
}
.section_messages {
float: left;
width: 80%;
padding-right: 10px;
padding-left: 200px;
font-size: 14px;
color: #666666;
font-weight: normal;
box-sizing: content-box;
}
.trash_image img {
width: 5%;
border-radius: 100%;
padding-top: 2.5%;
margin-bottom: 50px;
}
.pen_image img {
width: 5%;
border-radius: 100%;
padding-top: 2.5%;
}